<div class="container">
  <div class="card-white">
    <h2 class="header-navy">Você é um produtor ou un talento?</h2>
    <div class="sign-up-choice-cards">
      <%= link_to '#' do %>
        <div class="sign-up-card">
          <%= image_tag 'producer.svg' %>
          <div>
            <h3 class="header-pink">Sou um produtor</h3>
            <p>Busco talentos para fazerem artes para eventos</p>
          </div>
        </div>
      <% end %>

      <%= link_to '#' do %>
        <div class="sign-up-card">
          <%= image_tag 'talent.svg' %>
          <div>
            <h3 class="header-blue">Sou um talento</h3>
            <p>Busco oportunidades para realizar un trabalho</p>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
