  <div class= "card-white">
    <h2 class= "header-navy">Você é um produtor ou un talento?</h2>

    <div>

      <%= link_to '#' do %>
        <div>
          <%= image_tag 'producer.svg' %>
          <h3 class= "header-pink">Sou um produtor</h3>
          <p>Busco talentos para fazerem artes para eventos</p>
        </div>
      <% end %>

      <%= link_to '#' do %>
        <div>
          <%= image_tag 'talent.svg' %>
          <h3 class= "header-blue">Sou um talento</h3>
          <p>Busco oportunidades para realizar un trabalho</p>
        </div>
      <% end %>

    </div>
  </div>
