// Specific CSS for your home-page
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 0;
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .container {
    max-width: 460px;
  }
  .home {
    grid-template-columns: 1fr;
    margin: 12px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 860px;
  }
  .home {
    grid-template-columns: 1fr;
    margin: 30px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
  .home {
    grid-template-columns: 1fr 1fr;
    margin: 40px;
  }
}
