// Specific CSS for your home-page
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home {
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 0;
}

#title-blue {
  color: #3FC1C9;

  h2 {
    font-weight: 900;
    font-size: 2em;
  }
}

/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .home {
    grid-template-columns: 1fr;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .home {
    grid-template-columns: 1fr;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .home {
    grid-template-columns: 1fr 1fr;
  }
}
