.sign-up-choice-cards {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .sign-up-choice-cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px){
  .sign-up-choice-cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .sign-up-choice-cards {
    grid-template-columns: 1fr 1fr;
  }
}
