<div class="footer">
  <ul class="footer-items">
    <li><%= link_to "#", class: "footer-link" do %>
      <i class="fa-brands fa-twitter"></i>
      <% end %>
    </li>
    <li><%= link_to "#", class: "footer-link" do %>
      <i class="fa-brands fa-instagram"></i>
      <% end %>
    </li>
    <li><%= link_to "https://github.com/asta-design-br", target: "_blank", class: "footer-link" do %>
      <i class="fa-brands fa-github"></i>
      <% end %>
    </li>
  </ul>
  <p>Asta Design 2023 © Todos os direitos reservados.</p>
</div>
