.btn-blue {
  background-color: #3FC1C9;
  color: #fff;
  padding: 8px 32px;
  text-decoration: none;
  border-radius: 2px;
  font-size: 1.2em;
  text-align: center;
  white-space: nowrap;

  &:hover {
    color: #fff;
    opacity: 0.9;
    transition: .1s;
  }
}
