.header-navy {
  color: #364F6B;
  font-weight: 700;
  font-size: 2em;
}

.header-pink {
  color: #FC5185;
  font-weight: 700;
  font-size: 2em;
}

.header-blue {
  color: #3FC1C9;
  font-weight: 700;
  font-size: 2em;
}
