.icon-inside {
  position: relative;
}

.icon-inside i {
  position: absolute;
  left: 2px;
  top: 2px;
  padding: 10px 10px;
  color: #515152;
}

.input-group .form-control {
  padding-left: 35px;
 }
