.tag-web {
  background-color: #F5F5F5;
  color: #FC5185;
  font-size: 0.7em;
  padding: 4px 24px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.tag-flyer {
  background-color: #F5F5F5;
  color: #3FC1C9;
  font-size: 0.7em;
  padding: 4px 24px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tag-video {
  background-color: #F5F5F5;
  color: #364F6B;
  font-size: 0.7em;
  padding: 4px 24px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
